.middle {
    width: 100%; 
    background-color: #0647dd; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    text-align: center;
}


.middle h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 40px;
    margin: 0;
}


.middle h3 {
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.middle p {
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}


.middle img {
  
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    animation: fadeIn 1.5s ease-in forwards;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .middle {
        font-size: 20px;
        padding: 20px;
    }

    .middle h1 {
        font-size: 20px;
        padding: 30px;
    }

    .middle h3, .middle p {
        font-size: 16px;
        padding: 15px;
    }

    .middle img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .middle {
        font-size: 18px;
        padding: 15px;
    }

    .middle h1 {
        font-size: 18px;
        padding: 20px;
    }

    .middle h3, .middle p {
        font-size: 14px;
        padding: 10px;
    }

    .middle img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}