.dreptunghi {    
    margin-top: 50px;
    padding: 30px; 
    width: 90%; 
    max-width: 1500px; 
    height: auto;                 
    background-color: rgb(226, 226, 9);  
    display: flex;                 
    flex-direction: column;       
    justify-content: center;       
    align-items: flex-start;       
    border-radius: 10px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    gap: 10px;                    
    position: absolute;
}

.titlu2 {
    font-size: 32px;
    color: #333;
    margin: 0;                     
}

.paragraf2 {
    font-size: 18px;
    color: #333;
    margin: 0;                     
    line-height: 1.5;             
}

.image-board {
    width: 100%; 
    max-width: 800px; 
    height: auto;                  
    object-fit: cover;            
    margin-top: 190px;
    position: relative;
    align-content: center;
}

.container2 {
    display: flex;
    justify-content: center;   
    align-items: flex-start;   
    flex-wrap: wrap; 
    min-height: calc(100vh - 100px); 
    margin: 0;                 
    padding: 20px; 
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .dreptunghi {
        padding: 20px; 
        gap: 5px; 
    }

    .titlu2 {
        font-size: 24px; 
    }

    .paragraf2 {
        font-size: 16px; 
    }

    .image-board {
        margin-top: 50px; 
    }
}

@media (max-width: 480px) {
    .dreptunghi {
        padding: 15px; 
    }

    .titlu2 {
        font-size: 20px; 
    }

    .paragraf2 {
        font-size: 14px; 
    }
}