.feature-container {
  background-color: #d0cece;         
  display: flex;
  flex-direction: column;            
  align-items: center;               
  padding: 20px;
  text-align: center;
  height: auto; /* Adjust height for better responsiveness */
}

.titlu {
  font-size: 32px;
  color: #333;                  
  max-width: 800px;                 
  margin-bottom: 20px;              
}


.feature-container-content {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  justify-content: center;
  align-items: center;
  gap: 20px;                        
  width: 100%;                       
}

.image-backlog {
  width: 100%; /* Adjust width for smaller screens */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.text-content {
  display: flex;
  flex-direction: column;         
  align-items: flex-start;          
  text-align: left;                 
  width: 100%; /* Adjust width for smaller screens */
}

.titlu-plan {
  margin-left: 170px;
  font-size: 30px;
  color: #007bff;
  margin-bottom: 10px;
}

.paragraf-feature {
  font-size: 20px;
  color: #333;
  line-height: 1.6;                
}

@media (min-width: 768px) {
  .feature-container-content {
    flex-direction: row; /* Revert to row for medium screens and above */
  }

  .image-backlog,
  .text-content {
    width: 60%; /* Revert to original width for medium screens and above */
  }
}

@media (max-width: 576px) {
  .feature-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .titlu {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .feature-container-content {
    gap: 10px; /* Reduce gap for smaller screens */
  }

  .image-backlog {
    width: 100%; /* Ensure full width for smaller screens */
    height: auto;
  }

  .text-content {
    align-items: center; /* Center align text for smaller screens */
    text-align: center;
  }

  .titlu-plan {
    margin-left: 0; /* Remove left margin for smaller screens */
    font-size: 24px; /* Adjust font size */
  }

  .paragraf-feature {
    font-size: 16px; /* Adjust font size for readability */
  }
}

