.feature-container {
  background-color: #d0cece;         
  display: flex;
  flex-direction: column;            
  align-items: center;               
  padding: 20px;
  text-align: center;
  height: auto; 
}

.titlu {
  font-size: 32px;
  color: #333;                  
  max-width: 800px;                 
  margin-bottom: 20px;              
}


.feature-container-content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 20px;                        
  width: 100%;                       
}

.image-backlog {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.text-content {
  display: flex;
  flex-direction: column;         
  align-items: flex-start;          
  text-align: left;                 
  width: 100%; 
}

.titlu-plan {
  margin-left: 170px;
  font-size: 30px;
  color: #007bff;
  margin-bottom: 10px;
}

.paragraf-feature {
  font-size: 20px;
  color: #333;
  line-height: 1.6;                
}

@media (min-width: 768px) {
  .feature-container-content {
    flex-direction: row; 
  }

  .image-backlog,
  .text-content {
    width: 60%; 
  }
}

@media (max-width: 576px) {
  .feature-container {
    padding: 10px; 
  }

  .titlu {
    font-size: 24px; 
  }

  .feature-container-content {
    gap: 10px; 
  }

  .image-backlog {
    width: 100%; 
    height: auto;
  }

  .text-content {
    align-items: center; 
    text-align: center;
  }

  .titlu-plan {
    margin-left: 0; 
    font-size: 24px; 
  }

  .paragraf-feature {
    font-size: 16px; 
  }
}

