.marketing-content2 {
    padding: 20px;
    
}

.titlu {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.marketing-content-container2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    gap: 20px; 
    margin-bottom: 30px;
}

.photos {
    width: 500px;
    height: 500px;
    object-fit: cover; 
    border-radius: 10px; 
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px; 
}

.titlu2 {
    text-align: left; 
    font-size: 25px;
    color: #333;
}

.text-marketing {
    text-align: left; 
    color: #555;
}